<!-- This example requires Tailwind CSS v2.0+ -->
<div class="px-4 pt-6 sm:px-6 flex flex-col md:flex-row">
    <div class="h-32 md:h-auto md:w-1/2">
        <h2 class="text-lg font-extrabold text-3xl text-gray-900">
            Danh sách dịch vụ
        </h2>
    </div>

    <div class="flex justify-center h-2/4">
        <div class="flex border-2 rounded">
            <input type="text" class="px-4 py-2 w-80" placeholder="Tìm kiếm..." (keyup.enter)="onSearch()"
                [formControl]="keySearch">
            <button (click)="onSearch()" class="flex items-center justify-center px-4 border-l
                hover:bg-gray-300 focus:outline-none focus:ring-2
                focus:ring-offset-2 focus:ring-indigo-500">
                <svg class="w-6 h-6 text-gray-600" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24">
                    <path d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42
                        1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12
                        6 6 0 0 0 0 12z"></path>
                </svg>
            </button>
        </div>
    </div>

</div>

<div class="">

    <div class="bg-gray-100">

        <main>
            <div class=" pb-12 bg-white " *ngFor="let item of serviceList">
                <div class="  mx-auto  sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:gap-x-8">
                    <div class="lg:max-w-lg mt-4">
                        <div class="">
                            <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">{{item.name}}
                            </h1>
                        </div>

                        <section aria-labelledby="information-heading" class="mt-4">
                            <div class="mt-4 flex ">
                                <div>
                                    <svg class="flex-shrink-0 w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </div>

                                <div class="flex-1 ml-2">
                                    <span class="font-bold ">Giới thiệu :</span>
                                    <p class=" flex-1 text-base text-gray-500"> {{item.introduce}}</p>
                                </div>


                            </div>

                            <div class="mt-6 flex ">
                                <div>
                                    <svg class="flex-shrink-0 w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </div>

                                <div class="flex-1 ml-2">
                                    <span class="font-bold ">Ưu điểm :</span>

                                    <p class=" flex-1 text-base text-gray-500">{{item.advantage}}</p>
                                </div>
                            </div>

                            <div class="mt-6 flex ">
                                <div>
                                    <svg class="flex-shrink-0 w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </div>

                                <div class="flex-1 ml-2">
                                    <span class="font-bold ">Ghi chú :</span>

                                    <p class=" flex-1 text-base text-gray-500">{{item.note}}</p>
                                </div>
                            </div>
                        </section>


                        <div class=" ml-16 mt-5 ">
                            <div class=" grid grid-cols-2 gap-4">
                                <div class="mt-1 ">
                                    <div class="bg-white overflow-hidden shadow rounded-lg bg-red-50">
                                        <div class="py-5 px-1">
                                            <div class="flex items-center">
                                                <div class="flex-shrink-0">

                                                    <img src="../../../assets/img/price_icon.png" class="w-12 h-12">
                                                </div>
                                                <div class="ml-5 w-0 flex-1">
                                                    <dl>
                                                        <dt class="text-sm font-bold  truncate">
                                                            Mức giá (VNĐ/h)
                                                        </dt>
                                                        <dd>
                                                            <div class="text-lg font-medium text-gray-900">
                                                                {{item.price}}
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-1 ">
                                    <div class="bg-white overflow-hidden shadow rounded-lg bg-red-50">
                                        <div class="py-5 px-1">
                                            <div class="flex items-center">
                                                <div class="flex-shrink-0">
                                                    <img src="../../../assets/img/job_icon.png" class="w-12 h-12">
                                                </div>
                                                <div class="ml-5 w-0 flex-1">
                                                    <dl>
                                                        <dt class="text-sm font-bold  truncate">
                                                            Số công việc
                                                        </dt>
                                                        <dd>
                                                            <div class="text-lg font-medium text-gray-900">
                                                                {{item.numTask}}
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-10 lg:mt-0 lg:col-start-2 lg:row-span-2 lg:self-center">
                        <div class="aspect-w-1 aspect-h-1 rounded-lg overflow-hidden">
                            <img [src]="item.banner"
                                alt="Light green canvas bag with black straps, handle, front zipper pouch, and drawstring top."
                                class="w-full h-full object-center object-cover">
                        </div>
                    </div>

                </div>

                <div class="mt-6  ml-11 flex ">
                    <div>
                        <img src="../../../assets/img/sale.png" class="w-6 h-6">
                    </div>

                    <div class="flex-1 ml-2">
                        <span class="font-bold ">Chương trình giảm giá được áp dụng :</span>
                    </div>
                </div>

                <div class="px-4 mt-6 sm:px-6 lg:px-8">
                    <ul role="list" class="grid grid-cols-1 gap-4 sm:gap-6 sm:grid-cols-2 xl:grid-cols-4 mt-3">
                        <li class="relative col-span-1 flex shadow-sm rounded-md" *ngFor="let discount of item.discounts">
                            <div
                                class="flex-shrink-0 flex  justify-center w-12 bg-pink-600 text-white text-sm font-medium rounded-l-md">
                                <img [src]="discount.banner">
                            </div>
                            <div
                                class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md truncate">
                                <div class="flex-1 px-4 py-2 text-sm truncate">
                                    <a class="text-gray-900 font-medium hover:text-gray-600 truncate">
                                        {{discount.title}}
                                    </a>
                                    <p class="text-gray-900 font-bold">{{discount.percentage}}% ({{discount.endDate}})</p>
                                </div>
                                <div class="flex-shrink-0 pr-2">
                                    <button type="button" (click) = "openDialogEditDiscounrService(discount.id)"
                                        class="w-8 h-8 bg-white inline-flex items-center justify-center text-gray-400 rounded-full hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
                                        id="pinned-project-options-menu-0-button" aria-expanded="false"
                                        aria-haspopup="true">
                                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                            fill="currentColor" aria-hidden="true">
                                            <path
                                                d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </li>
                     
                    </ul>
                </div>

                <div class="hidden sm:block pt-8" aria-hidden="true">
                    <div class="border-t border-gray-200"></div>
                </div>
            </div>
        </main>

    </div>

</div>

<mat-paginator (page)="onPaging($event)" [length]="totalRow" [pageSizeOptions]="arrayPageSize" showFirstLastButtons>
</mat-paginator>