<div class="w-full h-4/5  " id="cover-div">
  <img class="w-full h-full shadow-xl ring-1 ring-black ring-opacity-5" [src]="cover" alt="">
</div>
<div class="bg-white pb-10">
  <div>
    <main>
      <div class="relative bg-white  sm:py-20 lg:py-20">
        <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">

          <div class="">
            <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">

              <div class="">
                <div class="flow-root bg-gray-100 rounded-lg px-6 pb-8">
                  <div class="-mt-6">
                    <div>
                      <span
                        class="inline-flex items-center justify-center  bg-gradient-to-r from-teal-500 to-cyan-600 rounded-md shadow-lg">

                        <img src="../../../assets/img/employee_good.png">
                      </span>
                    </div>
                    <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Người giúp việc nhà tiêu chuẩn
                    </h3>
                    <p class="mt-5 text-base ">
                      Người giúp việc nhà tiêu chuẩn, đáng tin cậy, có đầy đủ hồ sơ. Công ty chịu trách nhiệm
                      tuyển chọn, đào tạo và quản lý.
                    </p>
                  </div>
                </div>
              </div>

              <div class="">
                <div class="flow-root bg-gray-100 rounded-lg px-6 pb-8">
                  <div class="-mt-6">
                    <div>
                      <span
                        class="inline-flex items-center justify-center  bg-gradient-to-r from-teal-500 to-cyan-600 rounded-md shadow-lg">
                        <img src="../../../assets/img/advantage.png">
                      </span>
                    </div>
                    <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Dịch vụ tiện lợi</h3>
                    <p class="mt-5 text-base ">
                      Tìm Người giúp việc nhà nhanh chóng qua vài thao tác. Cung cấp đầy đủ thông tin về dịch vụ và
                      Người giúp việc
                    </p>
                  </div>
                </div>
                <div class="pt-10">
                  <a id="book_tag" href="#"
                    class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-bold rounded-md shadow-sm bg-opacity-60 hover:bg-opacity-70 sm:px-8">
                    Đặt dịch vụ ngay
                  </a>
                </div>
              </div>

              <div class="">
                <div class="flow-root bg-gray-100 rounded-lg px-6 pb-8">
                  <div class="-mt-6">
                    <div>
                      <span
                        class="inline-flex items-center justify-center  bg-gradient-to-r from-teal-500 to-cyan-600 rounded-md shadow-lg">
                        <img src="../../../assets/img/profession.png">
                      </span>
                    </div>
                    <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Chuyên nghiệp - Tận tâm
                    </h3>
                    <p class="mt-5 text-base ">
                      Đội ngũ tiếp nhận yêu cầu và nhân viên đầy kinh nghiệm, chuyên nghiệp, tận tâm
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="relative bg-white ">
        <div class="relative  ">
          <div class="relative">
            <div class="text-center mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
              <p class="text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">
                Dịch vụ của chúng tôi
              </p>
              <p class="mt-5 mx-auto max-w-prose text-xl text-gray-500">
                Giúp việc theo giờ kết nối nhu cầu giúp việc của Khách hàng & Người lao động.
              </p>
            </div>


            <ngx-slick-carousel class="carousel pt-7" #slickModal="slick-carousel" [config]="slideConfig"
              (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
              (beforeChange)="beforeChange($event)">

              <div ngxSlickItem *ngFor="let service of services" class="slide">
                <div class="flex flex-col shadow-lg overflow-hidden">
                  <div class="flex-shrink-0">
                    <img class="h-48 w-full object-cover" [src]="service.banner" alt="">
                  </div>
                  <div class="flex-1 bg-white p-6 flex flex-col justify-between">
                    <div class="flex-1">

                      <a class="block mt-2">
                        <p class="text-xl font-semibold text-gray-900">
                          {{service.name}}
                        </p>
                        <p class="mt-3 text-base text-gray-500">
                          {{service.introduce}}
                        </p>
                      </a>
                    </div>
                    <div class="pt-3">
                      <a id="book_tag" href="#"
                        class="flex items-center justify-center px-4 py-3 border  text-base font-medium rounded-md shadow-sm  hover:bg-opacity-70 sm:px-8">
                        Xem chi tiết
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
          </div>
        </div>
      </div>

    </main>

  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white pb-10">
  <div class="max-w-7xl mx-auto px-4  sm:px-6 lg:px-8">
    <div class="bg-gray-50 rounded-2xl px-6  sm:p-8">
      <div class="max-w-xl mx-auto lg:max-w-none">
        <div class="text-center">
          <p class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">
            Thành quả của chúng tôi
          </p>
        </div>
        <div class="mt-12 max-w-sm mx-auto grid grid-cols-1 gap-y-8 gap-x-8 sm:max-w-none lg:grid-cols-3">
          <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
            <div class="sm:flex-shrink-0">
              <div class="flow-root">
                <img class="w-16 h-16 mx-auto" src="../../../assets/img/num_employee.png"
                  alt="">
              </div>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
              <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Tổng số nhân viên
              </h3>
              <dd class="mt-1 text-3xl font-semibold text-blue-800	">
                50 nhân viên
              </dd>
            </div>
          </div>

          <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
            <div class="sm:flex-shrink-0">
              <div class="flow-root">
                <img class="w-16 h-16 mx-auto" src="../../../assets/img/clock.png"
                  alt="">
              </div>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
              <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Tổng số giờ làm
              </h3>
              <dd class="mt-1 text-3xl font-semibold text-blue-800	">
                71,897 giờ trên năm
              </dd>
            </div>
          </div>

          <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
            <div class="sm:flex-shrink-0">
              <div class="flow-root">
                <img class="w-16 h-16 mx-auto" src="../../../assets/img/smile_emoji.png"
                  alt="">
              </div>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
              <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Tổng số khách hàng hài lòng
              </h3>
              <dd class="mt-1 text-3xl font-semibold text-blue-800	">
                71,897
              </dd>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>