<div class="border-b-orange-600" id="title">
    <h1 mat-dialog-title class="text-center">Thông tin chương trình giảm giá
    </h1>
</div>
<div class="hidden sm:block" aria-hidden="true">
    <div class="border-t border-gray-200"></div>
</div>

<div mat-dialog-content class="pb-10">

    <div class="bg-gray-50">
        <div class="items-center text-center pt-5">
            <h2 class="text-lg font-extrabold text-3xl text-gray-900">
                {{name}}
            </h2>
        </div>
        <div class="max-w-7xl mx-auto pt-15 sm:px-2  lg:px-4">
            <div class="max-w-2xl mx-auto px-4 lg:max-w-none">
                <div class="grid grid-cols-1 items-center gap-y-10 gap-x-16 lg:grid-cols-2">
                    <div>
                        <div class="mt-6 flex ">
                            <div>
                                <svg class="flex-shrink-0 w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>

                            <div class="flex-1 ml-2">
                                <span class="font-bold ">Thời gian diễn ra :</span>
                                <p class=" flex-1 text-base text-gray-500"> Từ <span class="font-bold"> {{start}}</span>
                                    đến <span class="font-bold"> {{end}}</span> </p>
                            </div>
                        </div>


                        <div class="mt-6 flex ">
                            <div>
                                <svg class="flex-shrink-0 w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>

                            <div class="flex-1 ml-2">
                                <span class="font-bold ">Nội dung chương trình :</span>
                                <p class=" flex-1 text-base text-gray-500"> {{note}}</p>
                            </div>
                        </div>

                        

                    </div>
                    <div class="aspect-w-3 aspect-h-2 bg-gray-100 rounded-lg overflow-hidden">
                        <img *ngIf="banner" [src]="banner" alt="" class="object-center object-cover">
                    </div>
                </div>
                <div>
                    <div class="mt-6 flex ">
                        <div>
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                        <div class="flex-1 ml-2">
                            <span class="font-bold ">Dịch vụ được áp dụng :</span>
                        </div>
                       
                    </div>
                    

                    <dl class="mt-5 grid grid-cols-1 gap-5 pb-5 sm:grid-cols-2 lg:grid-cols-3">
                        <div
                            class="relative bg-white py-5 px-4 sm:pt-6 sm:px-6 shadow rounded-lg overflow-hidden" *ngFor="let item of services">
                            <dt>
                                <div class="absolute rounded-md h-12 w-12">
                                   <img [src]="item.banner">
                                </div>
                                <p class="ml-16 text-xl font-bold  truncate">{{item.name}}</p>
                            </dt>
                            <dd class="ml-16 flex items-baseline pt-2">
                                <p class="text-gray-900">
                                    Áp dụng <span class="font-bold">{{item.percentage}}%</span>
                                </p>
                                
                            </dd>
                        </div>
                    </dl>
                </div>



            </div>
        </div>
    </div>
</div>

<div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
        <div class="border-t border-gray-200"></div>
    </div>
</div>
<div mat-dialog-actions class="flex flex-row-reverse">
    <button mat-button (click)="onNoClick()" class="bg-white
        hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4
        border
        border-gray-400 rounded shadow">Thoát</button>
</div>